files:
  "/tmp/logrotate.elasticbeanstalk.nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nginx/* {
        su root root
        daily
        size 10M
        rotate 200
        missingok
        compress
        notifempty
        copytruncate
        dateext
        dateformat -%Y%m%d-%H%M%S
        olddir /var/log/nginx/rotated
      }

container_commands:
    set_logrotate:
        command: |
            cp -f /tmp/logrotate.elasticbeanstalk.nginx.conf /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.nginx.conf